<div class="desktop" *ngIf="innerWidth > 767">
    <div class="container" *ngIf="!openOneChannel">
        <div class="top-div">
            <p>Channels</p>
            <mat-icon class="hover" (click)="addNewChannel()">add</mat-icon>
        </div>
        <div class="main-div">
            <div class="search">
                <mat-icon class="hover">search</mat-icon>
                <input type="text" placeholder="Search">
            </div>
            <div class="channels hover" *ngFor="let channel of channels" [routerLink]="['/messages', channel.id]" (click)="channelId(channel.id!)">
                <p>{{ channel.name | channels | uppercase}}</p>
                <p>{{ channel.name | uppercase }}</p>
            </div>
            <div class="modal-div" *ngIf="addChannel" (click)="removeAddChannel($event)">
                <div class="modal">
                    <p>NEW CHANNEL</p>
                    <input type="text" placeholder="Channel name" #channelName>
                    <textarea placeholder="Channel name description" #channelDescription></textarea>
                    <button (click)="createNewChannel(channelName.value, channelDescription.value)" class="hover">Save</button>
                </div>
            </div>
        </div>
        <app-profile-navbar></app-profile-navbar>
    </div>
    
    <app-sidenav-onegroup *ngIf="openOneChannel" (allChannelsEvent)="allChannels()"></app-sidenav-onegroup>
</div>


<div class="mobile" *ngIf="innerWidth <= 767 && sideNav">

    <div class="close">
        <mat-icon class="hover" (click)="closeNav()">close</mat-icon>
    </div>

    <div class="container" *ngIf="!openOneChannel">
        <div class="top-div">
            <p>Channels</p>
            <mat-icon class="hover" (click)="addNewChannel()">add</mat-icon>
        </div>
        <div class="main-div">
            <div class="search">
                <mat-icon class="hover">search</mat-icon>
                <input type="text" placeholder="Search">
            </div>
            <div class="channels hover" *ngFor="let channel of channels" [routerLink]="['/messages', channel.id]" (click)="channelId(channel.id!)">
                <p>{{ channel.name | channels | uppercase}}</p>
                <p>{{ channel.name | uppercase }}</p>
            </div>
            <div class="modal-div" *ngIf="addChannel" (click)="removeAddChannel($event)">
                <div class="modal">
                    <p>NEW CHANNEL</p>
                    <input type="text" placeholder="Channel name" #channelName>
                    <textarea placeholder="Channel name description" #channelDescription></textarea>
                    <button (click)="createNewChannel(channelName.value, channelDescription.value)" class="hover">Save</button>
                </div>
            </div>
        </div>
        <app-profile-navbar></app-profile-navbar>
    </div>

    <app-sidenav-onegroup *ngIf="openOneChannel" (allChannelsEvent)="allChannels()"></app-sidenav-onegroup>
</div>
