<div class="container">
    <app-sidenav [sideNav]="sideNav" (sideNavEvent)="openNav()"></app-sidenav>
    <div class="main-div">
        <app-top-nav (sideNavEvent)="openNav()"></app-top-nav>
        <div class="chat-area">
            <div class="chats">
                <div class="chat" *ngFor="let chat of chats">
                    <div class="dp">
                        <img src="{{user.imageUrl}}">
                    </div>
                    <div class="name-date-text">
                        <div class="name-date">
                            <p>{{chat.sentBy}}</p>
                            <p>{{chat.sentAt.toDate() | date: 'medium'}}</p>
                        </div>
                        <p class="text">{{chat.text}}</p>
                    </div>
                </div>
            </div>
            <div class="keyboard">
                <textarea placeholder="Type a message here" [(ngModel)]="message"></textarea>
                <mat-icon class="hover" (click)="sendMessage()">send</mat-icon>
            </div>
        </div>
    </div>
</div>
