<div class="container">
    <app-sidenav [sideNav]="sideNav" (sideNavEvent)="openNav()" (channelEvent)="channelName($event)"></app-sidenav>
    <div class="empty-div" *ngIf="chatName === ''">
        <h2>No Channel Has Been Selected!</h2>
    </div>
    <div class="main-div" *ngIf="chatName !== ''">
        <div class="chat-name" *ngIf="innerWidth > 767">
            <p>{{chatName | uppercase}}</p>
        </div>
        <div class="chat-name" *ngIf="innerWidth <= 767">
            <div class="open-name">
                <mat-icon (click)="openNav()" class="hover">menu</mat-icon>
                <p>{{chatName | uppercase}}</p>
            </div>
        </div>
        <div class="chat-area">
            <div class="chats">
                <div class="chat" *ngFor="let chat of chats">
                    <div class="dp">
                        <img src="../../../assets/me.jpeg">
                    </div>
                    <div class="name-date-text">
                        <div class="name-date">
                            <p>{{chat.name}}</p>
                            <p>{{chat.date}}</p>
                        </div>
                        <p class="text">{{chat.text}}</p>
                    </div>
                </div>
            </div>
            <div class="keyboard">
                <textarea placeholder="Type a message here"></textarea>
                <mat-icon class="hover">send</mat-icon>
            </div>
        </div>
    </div>
</div>
