<div class="container">
    <app-sidenav [sideNav]="sideNav" (sideNavEvent)="openNav()" (channelEvent)="channelName($event)"></app-sidenav>
    <div class="main-div">
        <div class="chat-name" *ngIf="innerWidth > 767">
            <p>{{chatName | uppercase}}</p>
        </div>
        <div class="chat-name" *ngIf="innerWidth <= 767">
            <div class="open-name">
                <mat-icon (click)="openNav()" class="hover">menu</mat-icon>
                <p>{{chatName | uppercase}}</p>
            </div>
        </div>
        <div class="empty-div" *ngIf="chatName === ''">
            <h2>No Channel Has Been Selected!</h2>
        </div>
        <div class="chat-area" *ngIf="chatName !== ''">
            <div class="chats">
                <div class="chat" *ngFor="let chat of chats">
                    <div class="dp">
                        <img src="../../../assets/me.jpeg">
                    </div>
                    <div class="name-date-text">
                        <div class="name-date">
                            <p>{{chat.sentBy}}</p>
                            <p>{{chat.sentAt.toDate() | date: 'medium'}}</p>
                        </div>
                        <p class="text">{{chat.text}}</p>
                    </div>
                </div>
            </div>
            <div class="keyboard">
                <textarea placeholder="Type a message here" [(ngModel)]="message"></textarea>
                <mat-icon class="hover" (click)="sendMessage()">send</mat-icon>
            </div>
        </div>
    </div>
</div>
